THESE ARE QUESTIONS
<section class="container">
  <% @questions.each do |question| %>
    <p>
      <span class="answer-count">
        Answers: <%= question.answers.count %>
      </span>
      <span class="points-container">
        Points: <%= question.total_points %>
      </span>
      <a href="/questions/<%= question.id %>">
        <%= question.title %></a>
        <p class="qbody hidden"><%=question.body%></p>
      <span class="created-by-tag">
        Created by:<a href="/users/<%= question.user_id %>"><%= question.user.username %></a>
      </span>
      <p class="tag1">Tags: <% question.tags.each do |tag| %>
      <span class="tags1"><a href="/search?query=<%=tag.tag_name%>"><%= tag.tag_name + "," unless tag == question.tags.last %></a></span>
      <span class="tags1"><a href="/search?query=<%=tag.tag_name%>"><%= tag.tag_name if tag == question.tags.last %></a></span>
      <%end%>
    </p>
    <p>
  <% end %>

</section>
