<section>

	<h2><%= @question.title %></h2>

	<h2>By <%= @question.user.username %></h2>

	<div class="points">
		Points: <%=@question.total_points%>
	</div>

	<blockquote>
		<%= @question.body %>
	</blockquote>

	<div class="tags">
		Tags: <% @question.tags.each do |tag| %>
			<%= tag.tag_name + "," unless tag == @question.tags.last %>
			<%= tag.tag_name if tag == @question.tags.last %>
		<% end %>
	</div>

	<h3><%=@question.answers.count %> answers</h3>
	                       <hr>
	<% @question.answers.each do |answer| %>
		<div class="answer">
			<p>Points: <%=answer.total_points%></p>
			<p><%=answer.body%></p>
			<p>Answered by <a href="/users/<%=answer.user.id%>"><%=answer.user.username%></a>.</p>
			                   <hr>
		</div>
	<% end %>
</section>
