<section>

	<h2 class="page-title"><%= @question.title %></h2>

	<h2 class="author">By <a href="/users/<%= @question.user.id%>"><%= @question.user.username %></a></h2>

	<div class="points">
		Points: <%=@question.total_points%>
	</div>

	<blockquote>
		<%= @question.body %>
	</blockquote>

	<div class="tags">
		Tags: <% @question.tags.each do |tag| %>
			<%= "<a href='/search?query=#{tag.tag_name}'>#{tag.tag_name}</a>" + "," unless tag == @question.tags.last %>
			<%= "<a href='/search?query=#{tag.tag_name}'>#{tag.tag_name}</a>" if tag == @question.tags.last %>
		<% end %>
	</div>

	<div class="question-comments">
		<% if current_user %>
			<a href="/questions/<%=@question.id%>/responses/new">Add a comment</a>
		<% end %>
	</div>

	<div class="edit">
		<% if current_user == @question.user %>
			<a href="/questions/<%=@question.id%>/edit">Edit this post</a>
		<% end %>
	</div>

	<h3><%=@question.answers.count %> answers</h3>
	                       <hr>
	<% @question.answers.each do |answer| %>
		<div class="answer">
			<p>Points: <%=answer.total_points%></p>
			<blockquote><%=answer.body%></blockquote>
			<p class="author">Answered by <a href="/users/<%=answer.user.id%>"><%=answer.user.username%></a>.</p>
			<div class="answer-comments">
				<% if current_user %>
					<a href="/answers/<%=answer.id%>/responses/new">Add a comment</a>
				<% end %>
			</div>
			                   <hr>
		</div>
	<% end %>

  <% if current_user %>
  	<%if current_user != @question.user %>
  		<form action="/questions/<%=@question.id%>/answers" method='post' id="new_answer">
				<h2>Your Answer</h2>
				<textarea cols="50" rows="5" name="body" form="new_answer">Enter answer text here...</textarea>
  			<input type='submit' value='Post Your Answer'>
			</form>
		<% end %>
  <% end %>
</section>
