<section class="qpage">
	<div class="page-info">
	<h2 class="page-title"><%= @question.title %></h2>

	<h2 class="author">By <a href="/users/<%= @question.user.id%>"><%= @question.user.username %></a></h2>
</div>


	<div class="voting">
		<form class="question-up" action="/questions/<%=@question.id%>/upvote" method="post">
    	<button name="up" value="upvote"><img src="/img/upvote_donut.png" class="logo"></button>
		</form>
		<span class="q-points" id="q<%=@question.id%>"><%=@question.total_points%></span>
		<form class="question-down" action="/questions/<%=@question.id%>/downvote" method="post">
    	<button name="down" value="downvote"><img src="/img/downvote_donut.png" class="logo"></button>
		</form>
	</div>

	<blockquote>
		<%= @question.body %>
	</blockquote>

	<div class="tags">
		Tags: <% @question.tags.each do |tag| %>
			<%= "<a href='/search?query=#{tag.tag_name}'>#{tag.tag_name}</a>" + "," unless tag == @question.tags.last %>
			<%= "<a href='/search?query=#{tag.tag_name}'>#{tag.tag_name}</a>" if tag == @question.tags.last %>
		<% end %>
	</div>

	<div class="question-comments">
		<p> Comments:</p>
		<% @question.responses.each do |response| %>
		<div class='comments'>
			<p><%= response.body%></p>
			<p class="author">By <%=response.user.username%> on <%=response.created_at%></p>
		</div>
		<% end %>
		<a href="/questions/<%=@question.id%>/responses/new">Add a comment</a>

	</div>

	<div class="edit">
		<a href="/questions/<%=@question.id%>/edit">Edit this post</a>
	</div>

	<h3><%=@question.answers.count %> answers</h3>
	                       <hr>
	<a href="/answers/new" class="answer-link">Add an answer</a>

  <form class="hidden answer-form" action="/questions/<%=@question.id%>/answers" method='post' id="new_answer">
		<h2>Your Answer</h2>
		<textarea cols="50" rows="5" name="body" form="new_answer" placeholder="Enter answer text here..."></textarea>
  	<input type='submit' value='Post Your Answer'>
	</form>
		                       <hr>
<div class="answer_section">
	<% @question.answers.each do |answer| %>
		<div class="answer">
			<div class="voting">
				<form class="answer-up" action="/answers/<%=answer.id%>/upvote" method="post">
    			<button name="up" value="upvote"><img src="/img/upvote_donut.png" class="logo"></button>
				</form>
				<span class="a-points" id="<%= answer.id%>" ><%=answer.total_points%></span>
				<form class="answer-down" action="/answers/<%=answer.id%>/downvote" method="post">
		    	<button name="down" value="downvote"><img src="/img/downvote_donut.png" class="logo"></button>
				</form>
			</div>
			<blockquote><%=answer.body%></blockquote>
			<p class="author">Answered by <a href="/users/<%=answer.user.id%>"><%=answer.user.username%></a>.</p>
			<div class="answer-comments">
				<p> Comments:</p>
					<% answer.responses.reverse.each do |response| %>
					<div class='comments'>
						<p><%= response.body%></p>
						<p class="author">By <%=response.user.username%> on <%=response.created_at%></p>
					</div>
					<%end%>
				<a class="a-comment" href="/answers/<%=answer.id%>/responses/new">Add a comment</a>
				<form class="comment-form hidden" action="/answers/<%=answer.id%>/responses/new" method='post'>
            <input type='text' placeholder="Comment" name='comment'>
            <input type='submit' value="Post Comment">
          </form>
			</div>
			                   <hr>
		</div>
	<% end %>
</div>
</section>
