<h2 id="profile_name"><%= @user.username%></h2>
<br>
<div class="container questions">
  <h3>Recently Asked Questions by <%=@user.username%></h3>
  <ul class="recent_questions">
    <% @recent_questions.each do |question| %>
      <li class="question_title"><a href="/questions/<%=question.id%>"><%=question.title%></a></li>
      <li class="question_data"><%="Points: #{question.total_points} | created on #{question.created_at} " %> Tags: <% question.tags.each do |tag| %>
      <span class="tags1"><a href="/search?query=<%=tag.tag_name%>"><%= tag.tag_name + "," unless tag == question.tags.last %></a></span>
      <span class="tags1"><a href="/search?query=<%=tag.tag_name%>"><%= tag.tag_name if tag == question.tags.last %></a></span>
    <% end %></li>
    <%end%>
  </ul>
  <h5><a href="/users/<%=@user.id%>/questions">View more questions asked by <%=@user.username%></a></h5>
</div>
<br>
<div class="container questions">
  <h3>Recent Answers by <%=@user.username%></h3>
  <ul class="recent_answers">
    <% @recent_answers.each do |answer| %>
      <li class="answer_body"><a href="/questions/<%=answer.question.id%>"><%=answer.body%></a></li>
      <li class="answer_data"><%="Points: #{answer.total_points} | answered on #{answer.created_at} for <span><a href='/questions/#{answer.question.id}'>#{answer.question.title}</a></span>" %></li>
    <%end%>
  </ul>
  <h5><a href="/users/<%=@user.id%>/answers">View more answers by <%=@user.username%></a></h5>
</div>
